<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>empForm.html</title>
</head>
<body>
직원등록 페이지입니다.<br />
<!-- jsp와 spring의 차이점 : 
	jsp는 주소에 확장자가 있어야하지만 spring에서는 필요 없다. -->
<!-- 주소 확인해보면 /emp/employeeWrite로 뜨는거 확인 : 앞주소가 같으면 생략-->
<form action="employeeWrite" method="get" name="frm" id="frm" >
	직원번호 : <input type="text" name="empNum" required="required" /><br />
	직원이름 : <input type="text" name="empName" required="required" /><br />
	직원아이디: <input type="text" name="empId" required="required"/><br />
	비밀번호 : <input type="password" name="empPw" id="empPw" />
			 <span style ="color:red">[[${err_pwcon}]]</span><br/>
	비밀번호확인 : <input type="password" name="empPwCon" id="empPwCon"/><br />
	입사일 : <input type="date" name="empHireDate" required="required"/><br />
	직원이메일 : <input type="email" name="empEmail" /><br />
	직원 급여 : <input type="number" min="100"  value="100" name="empSalary" required="required"/><br />
	직원연락처 : <input type="tel" name="empPhone" placeholder="031-1234-1234" required="required"/><br />
	<input type="submit" value="직원등록"/>
</form>
</body>
</html>