<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>boardList</title>
</head>
<body>
방구 게시판 리스트 입니다. <br/>
<table border=1>
	<tr><td>번호</td><td>작성자</td><td>제목</td></tr>
	<th:block th:each=" dto : ${list}">
		<tr>
			<td><a th:href="@{boardDetail(num=${dto.boardNum})}">[[${dto.boardNum}]]</a></td>
			<td>[[${dto.boardWriter}]]</td>
			<td><a th:href="@{boardDetail(num=${dto.boardNum})}">[[${dto.boardSubject}]]</a></td>
		</tr>
	</th:block>
</table>
<a href="boardWrite">게시글쓰기</a>
</body>
</html>