<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>memberPassCone</title>
</head>
<body>
<form action="memberPassModify" name="frm" id="frm" method="post">
현재 비밀번호 : <input type="password" name="memPw"/> 
			 <span th:if="${err_pwCon!= null}" th:text="${err_pwCon}" style="color:red"></span><br/> 
새로운 비밀번호 : <input type="password" name="newMemPw"/> <br/> 
새로운 비밀번호 확인 : <input type="password" name="newMemPwCon"/> <br/>
<input type="submit" value="비밀번호 변경하기">
</form>
</body>
</html>