<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>memInfo</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script>
	$(function(){
		$("#memDelete").click(function(){
			location.href="memDelete?memNum=[[${memberCommand.memNum}]]"
		});
		$("#memList").click(function(){
			location.href="memList"
		});
	});
</script>
</head>
<body>
회원 상세페이지 입니다. <br/>
회원번호 : [[${memberCommand.memNum}]] <br/>
회원아이디 : [[${memberCommand.memId}]] <br/>
이름 : [[${memberCommand.memName}]] <br/>
주소 : [[${memberCommand.memAddr}]] <br/>
등록일 : <span th:text="${#dates.format(memberCommand.memRegiDate,'yyyy-MM-dd')}"></span><br />
성별 : <span th:if="${memberCommand.memGender == 'M'}" th:text="남자" ></span>
	  <span th:if="${memberCommand.memGender == 'F'}" th:text="여자" ></span><br />
연락처 :  [[${memberCommand.memPhone}]] <br/>
생년월일 :  <span th:text="${#dates.format(memberCommand.memBirth,'yyyy-MM-dd')}"></span><br />
이메일 : [[${memberCommand.memEmail}]] <br/>
<form action="memModify" method="get">
<input type="hidden" name="memNum" th:value="${memberCommand.memNum}">
<input type="submit" value="수정"/>
<input type="button" value="삭제" id="memDelete"> 
<input type="button" value="회원목록" id="memList"> 

</form>
</body>
</html>