<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>empList.html</title>
</head>
<body>
사원수 : [[${list.size()}]] <br/>
<table border="1">
	<tr><td>이름</td><td>아이디</td><td>연락처</td></tr>
	<th:block th:each="dto : ${list}">
	<tr><td><a th:href="@{empInfo(id=${dto.empId})}">[[${dto.empName}]]</a></td>
		<td><a th:href="@{empInfo(id=${dto.empId})}">[[${dto.empId}]]</a></td>
		<td>[[${dto.empPhone}]]</td>
	</tr>
	</th:block>
</table>

<a href="empForm">직원등록</a> <br/>
</body>
</html>